.mainBody {
    height: 100%;
}

.mainBody h1 {
    padding: 2.4rem 0;
    color: #C7EAE4;
}

.aboutContainer {
    margin-top: 5.5rem;
}

.aboutContainer h3 {
    margin:0 auto;
    width: 80%;
    text-align: left;
    color: #C7EAE4;
}

.aboutMe {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.aboutMe img {
    margin: 4rem;
    height: 15rem;
    border-radius: 50%;
}

.aboutMe p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}