.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.aboutContainer {
    margin-top: 5.5rem;
}

.aboutContainer h1 {
    /* margin:0 auto; */
    text-align: left;
}

.title {
    border-bottom: 0.02rem solid #C7EAE4;
    padding-bottom: 1.6rem;
}

.aboutMe {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.aboutMe img {
    margin: 4rem 4rem 4rem 0;
    height: 15rem;
    border-radius: 50%;
}

.aboutMe p {
    text-align: justify;
    align-self: center;
}

@media (max-width: 500px) {
    .aboutMe img {
        display: none;
    }

    .aboutContainer {
        margin-top: 2rem;
    }
}