.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.about h1 {
    padding: 2.4rem 0;
    color: #C7EAE4;
}

.aboutContainer {
    margin-top: 5.5rem;
}

.aboutContainer h3 {
    margin:0 auto;
    width: 80%;
    text-align: left;
    color: #C7EAE4;
}

.title {
    border-bottom: 0.02rem solid #C7EAE4;
    padding-bottom: 1.6rem;
}

.aboutMe {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.aboutMe img {
    margin: 4rem 4rem 4rem 0;
    height: 15rem;
    border-radius: 50%;
}

.aboutMe p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    align-self: center;
}