.contactSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 5%;
}

.contactText, .contactWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactText {
    width: 60%;
}

.contactWrapper {
    width: 40%;
    padding-bottom: 2rem;
}

.contactText {
    text-align: left;
}

.contactText h2 {
    color: #C7EAE4;
    padding: 2rem 0 3.5rem;
}

.contactText p {
    font-size: 1.6rem;
}

@media (max-width: 500px) {
    .contactSection {
        flex-direction: column;
        justify-content: space-around;
    }

    .contactText h2 {
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .contactText, .contactWrapper {
        width: 100%;
    }

}