.contactSection {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contactText, .contactWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contactText {
    text-align: left;
}