.headerSection {
    background-color: #2A497F;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.menu li {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}