.fullHeader {
    position: fixed;
    width: 100%;
    background-color: #2A497F;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 90rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.bars {
    display: none;
}

.mobileMenuWrapper {
    position: absolute;
    width: 100%;
    top: 4rem;
    background: #2A497F;
    display: none;
}

.mobile-list-styling {
    color: #C7EAE4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.mobileMenu li {
    padding: 1.5rem;
    border-bottom: 0.01rem solid #BFC0C0;
}

.menu {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .mobile-list-styling {
        font-size: 1.8rem;
    }
    .menu {
        display: none;
    }

    .activeMenu {
        display: block;
    }

    .bars {
        display: block;
        padding-right: 0.75rem;
    }

    .name {
        padding-left: 0.75rem;
    }
}