.languages {
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.school img {
    margin: 1rem 0;
    height: 6vh;
    width: auto;
}

.code {
    /* border-top: 0.2rem solid #C7EAE4; */
    /* margin-top: 1.5rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #C7EAE4;
}

.code div {
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;   
}

.langIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}