.languages {
    margin-top: 2rem;
    width: 100%;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.code {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.code div {
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;   
}

.langIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

@media (max-width: 500px) {
    .languages {
        max-width: 50rem;
    }

    .code {
        justify-content: space-around;
    }

    .code p {
        display: none;
    }

    .code div {
        margin: 0 1rem;
    }
}