.App {
  width: 100vw;
  min-height: 100vh;
  background-color: #2D3142;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding:4.5rem 1.5rem 2.5rem 1.5rem;
  width: 100%;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}

@media (max-width: 500px) {
  .content {
    width: 100%;
    max-width: 50rem;
  }
}
