.App {
  width: 100vw;
  height: 100vh;
  background-color: #2D3142;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 90rem;
  border-right: 0.01rem solid #C7EAE4;
  border-left: 0.01rem solid #C7EAE4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
