.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    width: 100%;
    margin: 1.5rem;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.projectImage {
    width: 115rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage img {
    width: 100%;
    height: auto;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.projectInfo a {
    padding: 1.5rem 0;
    font-size: 1.4rem;
    color: #ffffff;
}


@media (max-width: 500px) {
    .workSection h2 {
        padding: 1rem 0 1rem;
    }
    
    .project {
        flex-direction: column;
        margin: 1.5rem 0;
        border-bottom: 0.02rem solid #C7EAE4;
    }
    
    .project:nth-child(even) {
        flex-direction: column;

    }

    .projectImage {
        width: 100%;
    }

    .projectImage img {
        width: 80%;
    }

    .notActive {
        display: none;
    }

    .projectInfo p {
        margin: 1rem 0;
    }
}