.workSection {
    width: 100%;
}

.workSection h2 {
    font-size: 2.8rem;
    padding: 2.5rem 0 1rem;
    margin:0 auto;
    width: 80%;
    text-align: center;
    color: #C7EAE4;
    border-bottom: 0.02rem solid white;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    width: 100%;
    margin: 2.5rem;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
}

.projectImage {
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage img {
    width: 100%;
    height: auto;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 1rem;
    color: #BFC0C0;
}

.projectInfo h3 {
    color: #C7EAE4;
}

.projectInfo p {
    margin: 2rem 0;
    text-align: center;
}